
Ivakin_Dmitriy_hw_4/test.py

venv/

Ivakin_Dmitriy_hw_6/nginx_logs.txt

.idea/csv-plugin.xml

Ivakin_Dmitriy_hw_6/hobby.csv

Ivakin_Dmitriy_hw_6/users.csv

Ivakin_Dmitriy_hw_6/users_hobby.json

Ivakin_Dmitriy_hw_6/test.py

Ivakin_Dmitriy_hw_6/users_hobby.csv

Ivakin_Dmitriy_hw_6/users_hobby.txt
